<ion-view title="Project41" hide-back-button="true"  hide-nav-bar="false">

    <ion-content has-header="true" padding="true" style="width:400px;">


        <div class="list list-inset">

            <div class="padding">
                <button nav-clear class="button button-block button-positive" ng-click="category()">Create Category</button>
            </div>

            <div class="padding">
                <button nav-clear class="button button-block button-positive" ng-click="ask()">Ask Question</button>
            </div>

            <div class="padding">
                <button nav-clear class="button button-block button-positive" ng-click="logout()">Logout</button>
            </div>
        </div>

    </ion-content>

</ion-view>